<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- File Appender -->

	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File"
			value="./logs/log4j.log" />
		<param name="maxFileSize" value="5000KB" />
		<param name="maxBackupIndex" value="1" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [%c{1}] %m %n" />
		</layout>
	</appender>

	<!-- Console Appender -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [%c{1}] %m %n" />
		</layout>
	</appender>

	<!-- Email Appender -->
	<!--  not configured yet -->
	
	<appender name="emailAppender" class="SecureSMTPAppender">
		<param name="SMTPUsername" value=""/>
		<param name="SMTPPasswo" value=""/>
		<param name="To" value="" />
		<param name="From" value="" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [%c{1}] %m %n" />
		</layout>
	</appender>

	<root>

		<level value="INFO" />
		<appender-ref ref="fileAppender" />

	</root>

</log4j:configuration>